In [59]:
# Import the libraries.
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [60]:
# Create 100 random values.
mu, sigma, num = 20, 10, 100
s = np.random.normal(mu, sigma, num)

In [61]:
s

array([17.43141356, 25.89084088, 19.29076344, 26.37191946,  4.71904411,
       33.93369473, 19.72075161, 21.85237728, 24.97244387, 20.53209747,
       27.20329268, 22.41580262, 25.95856987, 24.90497887, 22.86286685,
       30.73367125, 35.07242597, 32.98306997, 11.37076361, 22.71180637,
       13.35603892, 38.41078126, 20.1858864 , 13.00662575, 22.59259533,
       26.86505787, 36.30353503, 21.01445301, 26.379212  , 25.27538419,
       10.70883822, 29.68206169, 17.09649912, 22.73150297, 18.69417636,
       19.74914467, 32.34413413,  9.45950314,  7.84279454, 30.81171374,
       17.8985629 , 31.06449979, 26.30244937, 29.75891255, 34.420875  ,
       10.51164091, -3.82821409, 19.2699863 , 28.09785855, 10.50604566,
       12.73724368, 31.82851244, 32.96985103, 25.45029058,  9.43034429,
       25.47597317, 21.79260785, 13.24881181, -3.45996511, 12.78017169,
       12.5274905 , 32.82587374,  4.5765159 , 36.40058079, 25.54825813,
       21.47576279, 10.11471202, 36.05248689, 24.91961787, 19.39806421,
       26.09540799, 29.75967057, 22.13300032, 25.38297256, 32.45494608,
        5.74509267, 39.75812664,  9.29826592, 21.06138766, 12.6544647 ,
       30.74976353, 18.22533415,  6.74877625, 11.95238159, 30.93704084,
       13.29140899, 32.12223303, 18.20174659, 10.48263774, 34.92832003,
        1.23249537, 29.02255978, 26.88044897,  4.29172701,  8.9353167 ,
       22.60659239, 15.45527227, 18.95337271, 16.59029409,  9.60226568])

In [62]:
# Make outliers in data.
s[7] = 150
s[45] = -145
s[90] = 130

In [63]:
df = pd.DataFrame(s, columns=['Data'])
df.head(10)

         Data
0   17.431414
1   25.890841
2   19.290763
3   26.371919
4    4.719044
5   33.933695
6   19.720752
7  150.000000
8   24.972444
9   20.532097

In [64]:
for col in df.columns:
    col_zscore = col + '_z-scored'
    # df[col_zscore] = (df[col] - df[col].mean())/df[col].std(ddof=0) # z-score
    df[col_zscore] = abs((df[col] - df[col].median()))/len(df[col]) # Mean Absolute Deviation (MAD)

In [65]:
df[col].std(ddof=0)

25.459324956661277

In [66]:
df[col].std(ddof=1)

25.587584332417183

In [67]:
df[col]

0     17.431414
1     25.890841
2     19.290763
3     26.371919
4      4.719044
        ...
95    22.606592
96    15.455272
97    18.953373
98    16.590294
99     9.602266
Name: Data, Length: 100, dtype: float64

In [68]:
threthold = 1
df['outlier'] = (df['Data_z-scored'] > threthold).astype(int)

In [69]:
df.head(10)

         Data  Data_z-scored  outlier
0   17.431414       0.050728        0
1   25.890841       0.033866        0
2   19.290763       0.032134        0
3   26.371919       0.038677        0
4    4.719044       0.177852        0
5   33.933695       0.114295        0
6   19.720752       0.027834        0
7  150.000000       1.274958        1
8   24.972444       0.024682        0
9   20.532097       0.019721        0

In [70]:
df.tail(15)

          Data  Data_z-scored  outlier
85   13.291409       0.092128        0
86   32.122233       0.096180        0
87   18.201747       0.043025        0
88   10.482638       0.120216        0
89   34.928320       0.124241        0
90  130.000000       1.074958        1
91   29.022560       0.065184        0
92   26.880449       0.043762        0
93    4.291727       0.182125        0
94    8.935317       0.135689        0
95   22.606592       0.001024        0
96   15.455272       0.070489        0
97   18.953373       0.035508        0
98   16.590294       0.059139        0
99    9.602266       0.129019        0

In [71]:
df.outlier.value_counts()

0    97
1     3
Name: outlier, dtype: int64

In [72]:
print ("Number of outliers in data = " + str(df.outlier.value_counts()[1]))

Number of outliers in data = 3