In [12]:
# Import the libraries.
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [13]:
# Create 100 random values.
mu, sigma, num = 20, 10, 100
s = np.random.normal(mu, sigma, num)

In [14]:
s

array([20.21440196, 35.11095522, 26.24414658, 12.39216312, 33.14041105,
       16.5260888 , 18.57153576, 10.89519143, 12.46609724, 13.74899783,
       19.36579851, 15.11895244,  4.35867716, 19.52958582,  9.52326062,
       17.31901054, 49.93245292, 19.7581203 , 30.10309595, 15.07868277,
       18.60765583, 31.11551689, 15.89656586, 31.72776471, 18.32345048,
       14.33444105, 32.73256313, 20.97400044, 10.95265787, 28.78983274,
       20.63933084, 34.41892513,  7.84329233,  5.62893788, 16.60318846,
       15.14014939, 19.18622999, 30.87244842, 29.15717421, 25.65314033,
       17.40440365, 19.70938658, 44.31507404,  4.15880855,  9.62672808,
       27.29531759,  1.71936571, 20.79503114, 16.32654668, 48.95071995,
       17.62933578, 18.9186706 , 23.13156827, 25.34684363, 19.94171337,
       -1.28637458,  4.30461817, 20.60322236, 31.9842432 , 41.23772364,
       23.77865737, 25.28091119, 24.41740304,  9.02541752, 27.40550196,
       14.78730255, 23.8290899 , 27.63821043, 27.89070469, 37.13032226,
       20.12344091, 32.22345935, 14.29351531, 33.92907961,  2.73242671,
        6.60501712, 21.78514303, 32.74746414, 12.6427283 , 14.01277358,
        9.90420697, 23.50878337,  9.17047937, 11.64782279, 31.00638147,
       41.18232188, -2.0641648 , 10.94019114,  8.87699079, -1.41927728,
       13.25266183, 22.05636507, 27.11562777, 11.52501253, 14.08036656,
        6.72505613, 21.21632126, 21.71547255, 15.52092079, 26.26014731])

In [15]:
# Make outliers in data.
s[7] = 150
s[45] = -145
s[90] = 130

In [16]:
df = pd.DataFrame(s, columns=['Data'])
df.head(10)

         Data
0   20.214402
1   35.110955
2   26.244147
3   12.392163
4   33.140411
5   16.526089
6   18.571536
7  150.000000
8   12.466097
9   13.748998

In [17]:
for col in df.columns:
    col_zscore = col + '_z-scored'
    df[col_zscore] = (df[col] - df[col].mean())/df[col].std(ddof=0) # z-score

In [18]:
threthold = 3
df['outlier'] = (abs(df['Data_z-scored']) > threthold).astype(int)

In [19]:
df.head(10)

         Data  Data_z-scored  outlier
0   20.214402      -0.021856        0
1   35.110955       0.552114        0
2   26.244147       0.210472        0
3   12.392163      -0.323250        0
4   33.140411       0.476188        0
5   16.526089      -0.163969        0
6   18.571536      -0.085157        0
7  150.000000       4.978837        1
8   12.466097      -0.320402        0
9   13.748998      -0.270971        0

In [20]:
df.tail(15)

          Data  Data_z-scored  outlier
85   41.182322       0.786046        0
86   -2.064165      -0.880259        0
87   10.940191      -0.379195        0
88    8.876991      -0.458691        0
89   -1.419277      -0.855411        0
90  130.000000       4.208228        1
91   22.056365       0.049115        0
92   27.115628       0.244051        0
93   11.525013      -0.356662        0
94   14.080367      -0.258203        0
95    6.725056      -0.541606        0
96   21.216321       0.016748        0
97   21.715473       0.035981        0
98   15.520921      -0.202698        0
99   26.260147       0.211089        0

In [21]:
df.outlier.value_counts()

0    97
1     3
Name: outlier, dtype: int64

In [22]:
print ("Number of outliers in data = " + str(df.outlier.value_counts()[1]))

Number of outliers in data = 3